body {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    color: #1E1B1B;
    font-weight: 600;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    letter-spacing: -0.03em;
    line-height: 84px;
    font-size: 64px;
    font-weight: 800;
}

h2 {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
}

.button {
    background-color: #FF6433;
    color: white;
    border-radius: 12px;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
}

.header {
    padding-top: 18px;
    padding-bottom: 135px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.header__menu {
    display: flex;
    margin-left: auto;
}

.header__menu-item {
    margin-left: 40px;
}

.header__menu-item:last-child {
    margin-right: 32px;
}

.header__menu-link {
    line-height: 28px;
    white-space: nowrap;
}

.header__assistance {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.header__assistance::before {
    content: "";
    border: 1px solid #939191;
    width: 0px;
    height: 42px;
    margin-right: 32px;
    opacity: 0.36;
}

.header__assistance-image {
    margin-right: 14px;
}

.header__assistance-title {
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

.header__assistance-phone {
    font-size: 18px;
    line-height: 175%;
}

.header__body {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.header__body-content {
    padding: 90px 45px 90px 0;
    max-width: 625px;
}

.header__button-block {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.header__book {
    margin-right: 33px;
}

.header__play {
    padding: 12px 16px;
    display: flex;
    align-items: center;
}

.header__play img {
    margin-right: 8px;
}

.header__open {
    display: flex;
    margin-top: 48px;
    align-items: center;
}

.header__open-icon {
    margin-right: 13px;
}

.header__open-title {
    color: #939191;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.header__open-time {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
}

.header__body-image {
    margin-left: 50px;
    position: relative;
}

.header_white-oval {
    height: 126px;
    background: #FFFFFF;
    background-clip: padding-box;
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    border-radius: 59px;
    display: flex;
    align-items: center;
    position: absolute;
}

.header__service {
    width: 306px;
    padding: 16px;
    top: 80px;
    left: -40px;
    display: flex;
    align-items: center;
}

.header__rating {
    padding: 16px 32px;
    top: 460px;
    left: 300px;
}

.header__service-icon {
    background: #5CBA99;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding: 17px 12px;
}

.header__service-24 {
    margin-right: 3px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.header__service-hr {
    line-height: 28px;
}

.header__service-text {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.header__rating-text {
    margin-right: 20px;
}

.header__rating-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #000000;
}

.header__rating-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.main__offer {
    background-color: #F2F2F2;
    padding: 128px 0;
}

.offer__subtitle {
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
}

.offer__title {
    max-width: 858px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}

.offer__table {
    display: grid;
    grid-template: repeat(2, 232px) / repeat(4, auto);
    gap: 8px;
}

.offer__table-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.offer__table-item svg {
    margin-bottom: 16px;
}

.offer__table-item:hover {
    background-color: #FF6433;
    color: white;
}

.offer__more {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    line-height: 175%;
    margin-top: 32px;
    transition: 0.3s;
}

.offer__more svg {
    margin-left: 16px;
}

.offer__more:hover {
    color: #FF6433;
}

.main__blog {
    padding: 131px 0px 138px 0px;
}

.blog__title {
    margin-bottom: 47px;
}

.blog__body {
    min-height: 823px;
}

.blog__filters {
    display: flex;
    margin-bottom: 46px;
}

.blog__filters-item {
    margin-right: 30px;
}

.blog__filters-btn {
    border-bottom: 3px solid white;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    background-color: transparent;
    transition: .25s;
}

.blog__filters-btn--active,
.blog__filters-btn:hover {
    border-color: #FF6433;
}

.blog__content {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, max(405px));
    justify-content: space-between;
    grid-row-gap: 64px;
}

.blog__article {
    max-width: 405px;
}

.blog__article-image {
    margin-bottom: 24px;
}

.blog__article-datetime {
    line-height: 28px;
    color: #939191;
    margin-bottom: 16px;
}

.blog__article-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
}

.blog__article--text {
    line-height: 28px;
    color: #232536;
}

.main_process {
    padding: 134px 0;
}

.process {
    display: flex;
    justify-content: space-between;
}

.process__content {
    max-width: 524px;
    margin-left: 10px;
}

.process__title {
    margin-bottom: 16px;
}

.process__text {
    line-height: 28px;
    opacity: 0.6;
    margin-bottom: 32px;
}

.process__steps {
    max-width: 432px;
    margin-right: 193px;
}

.process__steps-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;
}

.process__steps-number {
    margin-right: 24px;
}

.process__steps-body {
    padding-top: 13px;
}

.process__steps-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
}

.process__steps-text {
    font-size: 18px;
    line-height: 175%;
    opacity: 0.6;
    min-width: 336px;
}

.process__steps-item::before {
    content: url("../image/line.svg");
    position: absolute;
    left: 36px;
    top: 83px;
}

.process__steps-item:last-child::before {
    content: "";
}

.cta {
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 502px;
}

.cta__img {
    max-width: 55%;
}

.cta__body {
    position: absolute;
    height: 100%;
    padding: 6vw 4%;
    left: 16%;
    background-color: #FF6433;
    width: 39%;
}

.cta__title {
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    margin-bottom: 48px;
    max-width: 569px;
    max-height: 502px;
}

.cta__button--black {
    background-color: #1E1B1B;
}

.experience__list {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
}

.experience__list-title {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    margin-bottom: 2px;
    letter-spacing: -0.03em;
    color: #661CE7;
}

.experience__list-subtitle {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}

.main__brands {
    background-color: #E2E6E9;
    padding: 128px 0px;
}

.brands__title {
    margin-bottom: 31px;
    text-align: center;
}

.brands__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(5, auto);
    gap: 39px;
}

.brands__item {
    padding: 45px 30px;
}

.comments {
    background-color: #F2F2F2;
    padding: 128px 0;
}